*.go       text       eol=lf                         linguist-language=Go
*.md       text       eol=lf                         linguist-language=Markdown
*.pb.go    text -diff eol=lf linguist-generated=true linguist-language=Go
*.yml      text       eol=lf                         linguist-language=YAML
go.mod     text -diff eol=lf                         linguist-language=Go
go.sum     text -diff eol=lf                         linguist-language=Go
